body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    text-align: center;
    color: rgb(118 97 76);
}
ol{
    margin-left: 10vw;
    font-size: 1.3rem;
    color: rgb(78, 47, 17);
}
p{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(78, 47, 17);
    margin: 2px 0px 2px;
}
li{
    margin-bottom: 18px;
}

@media screen and (min-width: 800px) {
    ol{
        margin-left: 30vw;
    }
}